<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Генерация пароля суфлера</title>
  </head>
  <body>
    <div style='background:#eee;padding:30px;'>
      <div
        style='background:#fff;padding: 15px 20px;width: 600px;border: 1px solid #e3e3e5;border-radius:3px;margin: 0 auto;font: normal 13px/19px Verdana;box-shadow: 0 3px 7px rgba(0,0,0,.1);'
      >
        <div style='text-align: center;'>
          
        </div>
        <div style='padding: 15px 0;'>
          <div style='text-align: center;'>Уважаемый пользователь!</div>
          <div style='text-align: center;'>Ваша почта была указанна в списке пользователей которым требуется выслать ежемесячно обновляющийся пароль
            от суфлера</div>
          <div style='text-align: center; margin-top: 20px;margin-bottom: 5px;margin-left: 10px;'>
            <b>Пароль на месяц {{month}}</b>
            :
            <b>{{password}}</b>
          </div>
        </div>
        <div style='text-align: center; padding-top:20px;font-size:smaller;color:#6d7984;'>
          <div>
            Это письмо отправлено в автоматическом режиме, не отвечайте на него.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>